  <!DOCTYPE html>

  <html>
    <head>
      <meta charset="utf-8">
      <title>Atwood Family Dentistry</title>


      <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">


      
      <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

       
     <!-- <button class="switch-lang" style="position: fixed;">Spanish</button> -->


     <a id="lang_change" class="switch-lang hide-on-small-only btn waves-effect cyan white-text darken-text-2">Español</a>
    

     


      <!-- HEADER -->
     
      <div id="home" class="section scrollspy">
        
        <a href="/"><h3 class="head left-align teal-text text-lighten-1" id="logo">Atwood Family Dentistry</h3></a>    
        <h5 class="head grey-text right-align" lang="en">Call Now: (714) 993-2768</h5>
        <h5 class="head grey-text right-align" lang="es">Llame Hoy: (714) 993-2768</h5>
      </div>
      

      <!-- <a id="lang_change2" class="switch-lang hide-on-med-and-up btn waves-effect cyan white-text darken-text-2">Español</a> -->


      <a id="lang_change2" class="switch-lang hide-on-med-and-up btn waves-effect cyan white-text darken-text-2">Español</a>





      <div class="row">
      
      <div class="col hide-on-med-and-down m3 l2">
        <ul class="section table-of-contents"  style="top: 50%; bottom: 20%; right: 0px; position: fixed; margin: auto; z-index: 50; width: 151px; height: 182px; ">
          <li><a class="side black-text" href="/#home" lang="en">Home</a></li>
          <li><a class="side black-text" href="/#home" lang="es">Inicio</a></li>

          <li><a class="side black-text" href="/#about_us" lang="en">About Us</a></li>
          <li><a class="side black-text" href="/#about_us" lang="es">Sobre Nosotros</a></li>

          <li><a class="side black-text" href="/#our_services" lang="en">Our Services</a></li>
          <li><a class="side black-text" href="/#our_services" lang="es">Servicios</a></li>

          <li><a class="side black-text" href="/#our_office" lang="en">Our Office</a></li>
          <li><a class="side black-text" href="/#our_office" lang="es">Oficina</a></li>

          <li><a class="side black-text" href="/#our_dentist" lang="en">Our Team</a></li>
          <li><a class="side black-text" href="/#our_dentist" lang="es">Nuestro Personal</a></li>

          <li><a class="side black-text" href="/#contact_us" lang="en">Contact Us</a></li>
          <li><a class="side black-text" href="/#contact_us" lang="es">Contáctenos</a></li>
        </ul>
      </div>
    
     </div>




    <!-- NAV BAR -->
    <!-- <div class="navbar-fixed top"> -->
    <nav class="nav-wrapper" role="navigation">
      <div id="navigation" class="nav-wrapper grey lighten-4" >
        <a href="#" data-activates="mobile-demo" class="button-collapse cyan-text"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="center hide-on-med-and-down">
          <li ><a href="/#home" class="routes cyan-text" lang="en">Home</a></li>
          <li ><a href="/#home" class="routes cyan-text" lang="es">Inico</a></li>

          <li ><a href="/#about_us" class="routes cyan-text" lang="en">About Us</a></li>
          <li ><a href="/#about_us" class="routes cyan-text" lang="es">Sobre Nosotros</a></li>

          <li ><a href="/#our_services" class="routes cyan-text" lang="en">Our Services</a></li>
          <li ><a href="/#our_services" class="routes cyan-text" lang="es">Servicios</a></li>

          <li ><a href="/#our_office" class="routes cyan-text" lang="en">Our Office</a></li>
          <li ><a href="/#our_office" class="routes cyan-text" lang="es">Oficina</a></li>

          <li ><a href="/#our_dentist" class="routes cyan-text" lang="en">Our Team</a></li>
          <li ><a href="/#our_dentist" class="routes cyan-text" lang="es">Nuestro Personal</a></li>

          <li ><a href="/#contact_us" class="routes cyan-text" lang="en">Contact Us</a></li>
          <li ><a href="/#contact_us" class="routes cyan-text" lang="es">Contáctenos</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/#home" class="waves-effect waves-teal cyan-text" lang="en">Home</a></li>
          <li><a href="/#home" class="waves-effect waves-teal cyan-text" lang="es">Inico</a></li>

          <li><a href="/#about_us" class="waves-effect waves-teal cyan-text" lang="en">About Us</a></li>
          <li><a href="/#about_us" class="waves-effect waves-teal cyan-text" lang="es">Sobre Nosotros</a></li>

          <li><a href="/#our_services" class="waves-effect waves-teal cyan-text" lang="en">Our Services</a></li>
          <li><a href="/#our_services" class="waves-effect waves-teal cyan-text" lang="es">Servicios</a></li>

          <li><a href="/#our_office" class="waves-effect waves-teal cyan-text" lang="en">Our Office</a></li>
          <li><a href="/#our_office" class="waves-effect waves-teal cyan-text" lang="es">Ofincia</a></li>

          <li><a href="/#our_dentist" class="waves-effect waves-teal cyan-text" lang="en">Our Team</a></li>
          <li><a href="/#our_dentist" class="waves-effect waves-teal cyan-text" lang="es">Nuestro Personal</a></li>

          <li><a href="/#contact_us" class="waves-effect waves-teal cyan-text" lang="en">Contact Us</a></li>
          <li><a href="/#contact_us" class="waves-effect waves-teal cyan-text" lang="es">Contáctenos</a></li>
        </ul>
      </div>
    </nav>
    <!-- </div> -->
 
    <!-- CAROUSEL -->
    <div id="car" class="carousel carousel-slider center" data-indicators="true" >
      <div class="carousel-fixed-item center">
        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect cyan white-text darken-text-2" lang="en">General Dentistry</a>
        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect cyan white-text darken-text-2" lang="es">Odontología General</a>

        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect teal white-text darken-text-2" lang="en">Cosmetic Dentistry</a>
        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect teal white-text darken-text-2" lang="es">Odontología Cosmetica</a>

        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect blue lighten-1 white-text " lang="en">Dental Implants</a>
        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect blue lighten-1 white-text " lang="es">Implantes Dentales</a>

        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect  light-blue lighten-3 white-text" lang="en">Orthodontics</a>
        <a href="/#our_services" class="hide-on-med-and-down btn-large waves-effect  light-blue lighten-3 white-text" lang="es">Ortodoncia</a>
      </div>

      
        
      <div class="item carousel-item white-text">
        <!-- <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p> -->
         <img class="responsive-img" src="static/images/all.jpg" alt="" width="650" height="700">
      </div>
      <div class="item carousel-item white-text">
      <!--   <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p> -->
        <img class="responsive-img" src="static/images/office.jpg" alt="" width="650" height="700">
      </div>
     

    </div>


    <!-- ABOUT US -->
    <div id="about_us" class="section scrollspy">
      <h2 class="headings cyan-text" lang="en">About Us</h2>
      <h2 class="headings cyan-text" lang="es">Sobre Nosotros</h2>

      <h3 class="headings cyan-text">&#9632;</h3>

      <div class="about_mid">

        <div class="about">
          <h5 class="random" lang="en">Welcome!</h5>
          <h5 class="random" lang="es">Bienvenidos!</h5>

          <p class="par" lang="en">We proudly provide quality dental care to the community of Placentia, CA and surrounding areas. Our featured services are General Dentistry, Dental Implants and Restorations, Cosmetic Dentistry, Teeth Whitening, and much more. We'll be glad to hear from you if you have any questions.
          </p>
          <p class="par" lang="es">Orgullosamente somos proveedores del cuidado dental de calidad en la comunidad de Placentia y áreas aledañas del Condado de Orange. Nuestros servicios son de Odontologia General, Implantes Dentales, Odontologia Cosmética, Blanqueamiento de diente, Ortodoncia y más. Si usted tiene preguntas, llámenos, con gusto le ayudaremos.
          </p>

          <p class="par" lang="en">Thank you and see you soon!</p>
          <p class="par" lang="es">Gracias y lo veremos pronto!</p>

          <p class="par" lang="en">Dr. Jose E. Lara and staff</p>
          <p class="par" lang="es">Dr. Jose E. Lara y personal</p>

        </div>


        <div class="about">
          <h5 class="random" lang="en">Advanced Technologies</h5> 
          <h5 class="random" lang="es">Nueva y Avanzada Tecnología</h5> 

          <p class="par" lang="en">We offer the most advanced technology in Cosmetic Dentistry, Dental Implantology, Panoramic X-Rays, and CTscan. Placentia In-Office Power Teeth Whitening, Placentia Dental Implant Placement & Restoration, Placentia Porcelain Veneers and Full Porcelain Crowns are some examples of how we redesign our patients' smiles.</p>
          <p class="par" lang="es">Ofrecemos la tecnología más avanzada en Implantologia dental, cosmetica, radiografías de 3D CT scan y Panorámica, Blanqueamiento de dientes, Restauraciónes Cosméticas (Veneers ) Carillas de Porcelana,Coronas de Porcelana, son algunos ejemplos de cómo se se diseña la sonrisa de nuestros pacientes.</p>

        </div>


        <div class="about">
          <h5 class="random" lang="en">Patient Comfort</h5>
          <h5 class="random" lang="es">El Bienestar de Nuestros Pacientes.</h5>

          <p class="par" lang="en">Our number one priority is our patient's well-being. We implement all the tools available to make sure you have a comfortable experience during your dental visit. If you are looking for a great dentist in Placentia, CA 92870 call us today!</p>
          <p class="par" lang="es">Nuestro prioridad número uno es el bienestar de nuestros pacientes. Tenemos todos los utensilios disponibles para asegurarnos que tendrán una agradable y confortable experiencia durante su visita dental.Si usted está buscando un gran dentista en el Condado de Orange y Placentia, llámenos hoy!</p>
        </div>
      </div>

    </div>




    <!-- OUR SERVICES -->
    <div id="our_services" class="parallax-container" style="height: 100%">
      <div class="opacity section scrollspy">
          <h2 class="headings white-text" lang="en">Our Services</h2>
          <h2 class="headings white-text" lang="es">Nuestros Servicios</h2>

          <h3 class="headings white-text">&#9632;</h3>


          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Bone Graft and/or Regeneration</h5>
            <h5 class="serve_words white-text" lang="es">Injerto de Hueso y/o Regeneración</h5>
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Clear Correct</h5>
            <h5 class="serve_words white-text" lang="es">Clear Correct</h5>
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Crowns/Fixed Bridges</h5> 
            <h5 class="serve_words white-text" lang="es">Corona / Puente Fijo</h5>
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Implants</h5>
            <h5 class="serve_words white-text" lang="es">Implante Dental</h5> 
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Kör Whitening</h5>
            <h5 class="serve_words white-text" lang="es">Blanqueador Kör</h5> 
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Regular and/or Deep Cleaning</h5>
            <h5 class="serve_words white-text" lang="es">Limpieza Regula o Limpieza Profunda</h5>
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Root Canal</h5>
            <h5 class="serve_words white-text" lang="es">Tratamiento de Canal</h5>
          </div>

          <div class="services_small hide-on-med-and-up">
            <h5 class="serve_words white-text" lang="en">Veneers</h5>         
            <h5 class="serve_words white-text" lang="es">Veneer o Laminados de Porcelana</h5>
          </div>

          


      
        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Bone Graft and/or Regeneration</h5>
          <h5 class="serve_words white-text" lang="es">Injerto de Hueso y/o Regeneración</h5>  
          <div class="scroll">
            <p class="call white-text" lang="en">If you have been informed that you have periodontal problems or gum disease that should be treated surgically, this procedures purpose is to remove bacteria, infection, and inflammation of the tissue and bone. It will allow to reduce and minimize further loss of bone, after that a grafting may be performed on that specific area. These options can be discussed with your dentist before the procedure. If you have any questions, please call us today to schedule a free consultation.</p>
            <p class="call white-text" lang="es">Si usted ha sido informado que tiene problemas periodontales o enfermedad de las encías que tiene que ser tratada con cirugía. El propósito de este procedimiento es para remover bacteria infección e inflamación de la encía y hueso. Esto permite la reducción de la infección y minimiza la futura pérdida de hueso.</p>
    
          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Clear Correct</h5>
          <h5 class="serve_words white-text" lang="es">Clear Correct</h5>
          <div class="scroll">  
          <p class="call white-text" lang="en">It is a new and improved way to align your teeth with no wire or braces. These are removable invisible aligners made with new technology. These aligners will move the teeth little by little. On every recommended appointment you will get a new set, until properly aligned. For every patient procedure is different. If you have any questions, ask Dr. Lara and he will explain any concern to you. If you are candidate for this treatment, the approximate treatment time will go from 6 to 12 months. Call us to set up a free consultation.</p>
          <p class="call white-text" lang="es">Es una manera nueva y mejorada de alinear sus dientes sin frenos y alambres. Los alineadores son invisibles y removibles hechos con nueva Tecnología. Estos alineadores moverán sus dientes poco a poco, en cada cita recomendada usted tendrá un nuevo par de alineadores hasta que sus dientes queden propiamente alineados. Cada paciente es diferente, si usted es candidato la duración del tratamiento puede variar de entre 6 a 12 meses. Si tiene preguntas puede llamar y agendar una cita para consulta gratis y el Dr Lara le responderá a sus dudas.</p>

  
          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Crowns/Fixed Bridges</h5> 
          <h5 class="serve_words white-text" lang="es">Corona / Puente Fijo</h5>
          <div class="scroll">   
          <p class="call white-text" lang="en">There are a variety of aesthetic materials to create different types of crowns and bridges ranging from metal to porcelains. These crowns are designed to protect the tooth/teeth for restoration to proper form and function. Call us now to schedule an appointment.</p>
          <p class="call white-text" lang="es">Existen una gran variedad de materiales para crear diferentes tipos de coronas/ puentes fijos, empezando desde metal hasta Porcelana. Estas restauraciones están diseñadas para proteger el o los dientes con una forma y función apropiadas.  Si usted tiene preguntas, llámenos agende una cita y Dr Lara le contestará sus dudas.</p>

  
          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Implants</h5>
          <h5 class="serve_words white-text" lang="es">Implante Dental</h5>    
          <div class="scroll">
          <p class="call white-text" lang="en">Implants are titanium base cylinders used to replace the missing tooth or teeth by stabilizing the bone structure. Can be used to replace missing teeth, fixed bridges, and support full dentures, dramatically improving the retention and stability. To be evaluated for an implant treatment, the patient may require a CTscan/3D x-ray to determine the bone density and kind of treatment needed. QUESTIONS?? Please call us today to schedule a free consultation.</p>
          <p class="call white-text" lang="es">Los implantes dentales son estructuras cilíndricas hechas a base de titanio y son usados para reemplazar y estabilizar la estructura ósea del área del diente/ dientes perdidos. Pueden ser usados para reemplazar un solo diente o más o para mejorar y estabilizar dentaduras completas. Para una evaluación del tratamiento de implante dental será requerida una radiografía de 3D llamada CTscan para determinar la densidad del hueso en el área a tratar y que tipo de tratamiento necesita. Preguntas? Por favor llame hoy para agendar una consulta Gratis.</p>

  
          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Kör Whitening</h5>
          <h5 class="serve_words white-text" lang="es">Blanqueador Kör</h5> 
          <div class="scroll"> 
          <p class="call white-text" lang="en">It is a fast and convenient method to a whiter and brighter smile. It is recommended only for natural teeth since porcelain restorations do not change color with the whitening. Your teeth must need to be free of tartar build-up, plaque and decay. This may require you to clean your teeth before the appointment if you want better results. The results may vary for each patient. If you want a whiter and brighter smile call us today and make an appointment.</p>
          <p class="call white-text" lang="es">Una forma fácil y rápida de blanquear su sonrisa. Es recomendada para dientes naturales ya que las restauraciones de Porcelana no cambian de color con el blanqueamiento. Sus dientes tienen que estar limpios libres de sarro, placa y caries. Por lo tanto es recomendable tener su limpieza antes del blanqueo para mejores resultados. Si quiere una sonrisa blanca y brillante, llámenos hoy para agendar una cita.</p>


  
          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Regular and/or Deep Cleaning</h5>
          <h5 class="serve_words white-text" lang="es">Limpieza Regula o Limpieza Profunda</h5>
          

          <div class="scroll">    
          <p class="call white-text" lang="en">Regular cleaning or prophylaxis is the simple way to clean your teeth free of tartar build up. Some treatment involves scaling if plaque is present over the coronal surface of the teeth. Scaling/Ultrasonic scaler is used to remove only plaque. If the patient has a gum infection and/or inflammation curettage deep cleaning may be necessary to remove calculus, plaque and bacteria that has accumulated. This treatment needs an injection of local anesthesia on the area to be able to go deep and scrape the tooth's surfaces, to control the bacteria growth. Special oral mouth rinse and antibiotics medication will be prescribed to help and will be part of the treatment.</p>
          <p class="call white-text" lang="es">La limpieza regular o profilaxis es la forma más sencilla de limpiar los dientes que están libres de sarro. Algunas veces se usa el instrumento de ultrasonido y se usa para remover placa dental. Si el paciente ha sido diagnosticado con infección de la encía o periodontitis la limpieza requerida es la profunda. En esta el paciente necesita anestesia local para poder ir más profundamente a remover sarro e infección para controlar el crecimiento de bacteria. Será necesario recetar antibióticos y un enjuague especial como parte del tratamiento.Por favor llame hoy para agendar su cita.</p>

  
          </div>
        </div>
        
        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Root Canal</h5>
          <h5 class="serve_words white-text" lang="es">Tratamiento de Canal</h5>

          <div class="scroll">  
          <p class="call white-text" lang="en">Also known as endodontic treatment, this involves removing the nerve tissue called pulp, located inside in the center of each tooth.  The pulp is remove and the canal will be disinfected and sealed relieving any symptoms such as pain and discomfort. Depending on the stage of infection, treatment may require several visits to the dentist, until infection is gone. The next step on the treatment is to rebuild and restore the tooth with the crown to proper form and function.</p>
          <p class="call white-text" lang="es">También conocido como endodoncia, este tratamiento envuelve el remover el tejido nervioso llamado pulpa localizado en el centro de cada diente. Si el diente no tiene ya una cavidad grande será necesario hacerle una apertura y la pulpa será removida, el canal será desinfectado y sellado quitando los síntomas como el dolor y la incomodidad.Este tipo de tratamiento dependiendo del grado de infección puede necesitar varias citas al dentista hasta que se termine, después un relleno temporal será colocado en la apertura por una semana hasta la proxima cita para continuar con la reconstruccion y restauracion con una corona de forma apropiada y functional.</p>

          </div>
        </div>

        <div class="services hide-on-small-only">
          <h5 class="serve_words white-text" lang="en">Veneers</h5>         
          <h5 class="serve_words white-text" lang="es">Veneer o Laminados de Porcelana</h5>

          <div class="scroll">   
          <p class="white-text" lang="en">Veneers are thin porcelain laminates that are bonded to the outer surface of the tooth. None or minimal reduction of your tooth's surface is required. It is a cosmetic procedure to improve your smile in the quickest way possible. It will restore broken tooth structure, change the color, shape, and close gaps in your teeth. In some cases, teeth may even be aligned. Your dentist will evaluate and recommend what is best for you.</p>
          <p class="white-text" lang="es">Estas son delgadas láminas de Porcelana que serán adheridas a la  superficie externa de sus dientes. Mínima o no reducción del diente es requerida. Es un procedimiento cosmético para mejorar su sonrisa de una manera fácil y rápida. Los laminados se usan para restaurar, dientes fracturados, para cambiar de color y/o forma, para cerrar espacios entre los dientes y en algunos casas para alinear la sonrisa. Dr Lara le hará una evaluación y le dirá que es recomendable en su caso.</p>

          </div>
        </div> 

      </div>

      <div class="parallax">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/f7/2a/99/f72a9954b582727bcbc964f64d6da9ef.jpg" width="650" alt="">
      </div>
    </div>


    <!-- OUR OFFICE -->
    <div id="our_office" class="section scrollspy">
      <h2 class="headings cyan-text" lang="en">Our Office</h2>
      <h2 class="headings cyan-text" lang="es">Nuestra Oficina</h2>
      <h3 class="headings cyan-text">&#9632;</h3>

      <div class="office_mid">

        <div class="office">
          <h4 class="random" lang="en">Office</h4>
          <h4 class="random" lang="es">Oficina</h4>

          <p class="par" lang="en">Our office is conveniently located on <a href="/#contact_us">1651 E. Orangethorpe Ave.</a> and is accessible via all major roads. We are proud of our office, which fully utilizes state of the art equipment. We have a modern sterilization system that surpasses OSHA requirements. The source of water for our dental units is distilled water (bottled water), which removes any chance of contamination from regular tap water like that used in most dental offices.
          </p>
          <p class="par" lang="es">Nuestra oficina está convenientemente localizada en<a href="/#contact_us"> 1651 E. Orangethorpe Ave. </a>y es una vía accesible a avenidas principales. Estamos orgullosos de tener un gran equipo de tecnología avanzada, tenemos el más moderno equipo de esterilización que sobrepasa los estándares de OSHA. Nuestras unidades dentales cuentan con un  suministro de agua destilada de esta manera se  evita las posibilidades de contaminación que puede ocurrir con agua del grifo.
          </p>


          <p class="par" lang="en">Our friendly and competent staff is dedicated to patient comfort and quality care. We provide the best and latest in dental technology and treatment options. We provide gentle, family-oriented dental care to the adults and children of this community. We utilize the best equipment sterilization techniques available to dentists. In addition to general dentistry, implants and cosmetic dentistry, we work with specialists if you need to be referred. Our team emphasizes comprehensive quality care and preventive dentistry.</p>
          <p class="par" lang="es">Nuestro amigable y competente personal está dedicado a darle un confortable cuidado. Le ofrecemos la mejor y más moderna tecnología en nuestros tratamientos dentales. Proveemos cuidado dental para todas las familias de nuestra comunidad. Como por ejemplo: Odontologia general, implantes dentales,ortodoncia ,tratamientos cosméticos, también trabajamos con especialistas si tiene que ser referido.</p>
         
        </div>


        <div class="office">
          <h4 class="random" lang="en">Insurance</h4>
          <h4 class="random" lang="es">Seguros Dentales</h4>

          <p class="par" lang="en">We accept all PPO plans. We also accept straight Medicare and indemnity plans, no HMO's. Please call our office to make an appointment and we will answer any questions you may have.</p>
          <p class="par" lang="es">Aceptamos todos los planes PPO, también Medicare directo, y planes de indemnización. No HMO's. Por favor llame hoy  para agendar su cita y le ayudaremos.</p>
        </div>


        <div class="office">
          <h4 class="random" lang="en">Payment Options</h4>
          <h4 class="random" lang="es">Opciones de Pago</h4>

          <p class="par" lang="en">We accept all major credit cards, ATM cards, and cash. For our patients' convenience we have arranged a payment plan through a third party, which helps our patients receive their treatment in a timely manner.</p>
          <p class="par" lang="es">Aceptamos todas las tarjetas de crédito, débito y aceptamos efectivo. También para su conveniencia tenemos plan de pagos con la tarjeta Care Credit (tiene que llenar una aplicación) de esa manera ayudamos a que nuestros pacientes puedan recibir sus tratamientos de manera oportuna.</p>

          <a href="https://www.carecredit.com/office" target="_blank"><img src="static/images/carecredit.png" alt=""></a>
        </div>
      </div>

    </div>


    <!-- RANDOM INFO -->
    <div id="random_info" class="teal lighten-2">
    <div class="random_info2">
      <div class="misc"> 
        <h3 class="white-text random">30+</h3>
        <p class="white-text random" lang="en">Years of Experience</p>
        <p class="white-text random" lang="es">Años de Experiencia</p>
      </div>
        <div class="misc">   
          <h3 class="white-text random">5,000+</h3>
          <p class="white-text random" lang="en">Smiling Clients</p>
          <p class="white-text random" lang="es">Clientes Sonrientes</p>
        </div>
        <div class="misc"> 
          <h3 class="white-text random">5</h3>
          <p class="white-text random" lang="en">Motivated Staff</p> 
          <p class="white-text random" lang="es">Personal Motivado</p>
        </div>

        <div class="misc"> 
          <h3 class="white-text random">7</h3>
          <p class="white-text random" lang="en">Certifications</p> 
          <p class="white-text random" lang="es">Certificaciones</p> 
        </div>
      
      </div> 
    </div>

    <!-- OUR DENTISTS -->
    <div id="our_dentist" class="dentist section scrollspy ">
      <h2 class="headings cyan-text" lang="en">Our Staff</h2>
      <h2 class="headings cyan-text" lang="es">Nuestro Personal</h2>

      <h3 class="headings cyan-text">&#9632;</h3>


      <div class="centering container">
        
        <div id="doctor_main" class="images">
          <img class="responsive-img" src="static/images/doctor.png" alt="">
            
            
          <h6 class="desc teal-text">DR. JOSE E. LARA D.D.S</h6>

            <p class="inform1" lang="en">My goal is to provide quality dentistry in a pleasant and caring environment. I like to communicate by listening to the concerns and needs of my patients while paying particular attention to the function, aesthetics and patient’s comfort. I like my patients to feel welcome and cared for so that they will look forward to the next visit.
            </p>
            <p class="inform1" lang="es">Mi objetivo es proveer Odontologia de calidad en un ambiente agradable y placentero. La mejor manera de comunicación con mis pacientes es escuchado y poniendo atención a todas sus necesidades y particularmente, en lo funcional y estético. Me gusta que mis pacientes se sientan bienvenidos y quieran regresar a su próxima cita.
            </p>


            <p class="inform1" lang="en">Dr. Lara is a member of the Academy of Facial Esthetics which is dedicated to providing the most advanced non-surgical minimally invasive techniques for facial pain and beautiful total facial esthetics.
            </p>
            <p class="inform1" lang="es">Dr Lara es miembro de AAFE Que se dedica a proveer las más avanzadas técnicas de cirugía mínimamente invasivas para el dolor facial y la total belleza de la estética facial.
            </p>

            

        </div>

        <div class="member">
        <p class="inform1" lang="en">Dr. Jose E. Lara is a member of:</p>
            <p class="inform1" lang="es">Dr. Jose E. Lara es miembro de:</p>

            <ul>
              <li class="inform1"><a href="http://www.cda.org" target="_blank">California Dental Association</a></li>

              <li class="inform1"><a href="http://www.ocds.org/home" target="_blank">Orange County Dental Association</a></li>

              <li class="inform1"><a href="http://www.aaid.com/index.html" target="_blank">American Academy of Implant Dentistry (AAID)</a></li>

              <li class="inform1"><a href="https://icoi.org/" target="_blank">International Congress of Oral Implantologists (ICOI)</a></li>

            </ul>

            <div>
              <a class="inform_img" href="http://www.ada.org/en" target="_blank"><img style="margin-left: 5px" src="static/images/ada.png" alt=""></a>

              <a class="inform_img" href="http://www.cda.org" target="_blank"><img src="static/images/cda.png" alt=""></a>

              <a class="inform_img" href="http://www.icoi.org/" target="_blank"><img src="static/images/icoi.png" alt=""></a>

              <a class="inform_img" href="http://www.aaid.com/index.html" target="_blank"><img  src="static/images/aaid.png" alt=""></a>

              <a class="inform_img" href="https://www.facialesthetics.org/" target="_blank"><img  src="static/images/aafe.png" alt=""></a>
            </div>
      </div>






        <div class="images">
          <img class="responsive-img" src="static/images/front.png" alt="">
           
          <h6 class="desc teal-text" lang="en">VIRGINIA-RDA & MONICA DENTAL FRONT OFFICE</h6>

          <h6 class="inform2 teal-text">Virginia-RDA</h6>
          <p class="inform2" lang="en">Virginia is our Executive Financial Coordinator. Her years of expertise in overseeing insurance claims and billing will ensure patients to receive maximum benefits reimbursements. She will represent patient’s desires to help start their treatment with ease and information of patients’ needs.</p>
          <p class="inform2" lang="es">Virginia es nuestra coordinadora  ejecutiva de finanzas.Sus años de experiencia en supervisión en seguros dentales y su facturación le dará un máximo rendimiento de pago de sus beneficios. Ella presentará el mejor plan de tratamiento y le ayudará a mantenerse informado de todas sus necesidades.</p>

          <h6 class="inform2 teal-text">Monica</h6>
          <p class="inform2" lang="en">Is our front office supervisor. Her duties are to schedule appointments for patients, reviewing insurance coverage, eligibility and coordinating the optimal sequence of treatment.</p>
          <p class="inform2" lang="es">Monica es nuestra supervisora, y ella también revisará sus beneficios dentales y le ayudará a agendas sus citas.</p>


        </div>



        <div class="images">
          <img class="responsive-img" src="static/images/da.png" alt="">
           
          <h6 class="desc teal-text">ELIZABETH-DA & NORMA-DA</h6>

          <p class="inform3" lang="en">They will take care of you at chair side. They make it possible for our office to deliver high quality of care that you deserve. Each of them has over 8 years of dental experience. Their excellent technical and communication skills bring not only warmth but a welcoming environment for all patients. Their knowledge and gentle caring attitude will make your dental visit a pleasant one.</p>
          <p class="inform3" lang="es">Ellas cuidarán de usted ayudando al doctor en todo.Ellas hacen posible que los procedimientos se hagan cuidadosamente como usted lo merece. Cada una de ellas tiene más de 8 años de experiencia y sus conocimientos asistiendo  al doctor harán de su visita una experiencia agradable</p>

        </div>
      </div>


      




    </div>


    <!-- PARALLAX -->
    <div id="par2" class="parallax-container">
      <div class="parallax"><img src="http://clearwhitedental.com/wp-content/uploads/2014/09/bigstock-A-woman-is-smiling-while-being-49899485.jpg" alt="" width="650"></div>
    </div>

    <!-- CONTACT US -->
    <div id="contact_us" class="section scrollspy">
      <h2 class="headings cyan-text" lang="en">Contact Us</h2>
      <h2 class="headings cyan-text" lang="es">Contáctenos</h2>

      <h3 class="headings cyan-text">&#9632;</h3>

      <div class="cool">
        
        <div class="last">
          <h4 class="random teal-text text-lighten-2" lang="en">Our Address</h4>
          <h4 class="random teal-text text-lighten-2" lang="es">Nuestra Dirección</h4>

          <p class="random">1651 E. Orangethorpe Ave.</p>
          <p class="random">Placentia, CA 92870</p>
          <p class="random">atwoodfrontoffice@gmail.com</p>
          <p class="random">TEL: 714-993-2768 || FAX: 714-993-2775</p>
        </div>

        <div class="last">
          <h4 class="random teal-text text-lighten-2" lang="en">Opening Hours</h4>
          <h4 class="random teal-text text-lighten-2" lang="es">Horario de Apertura</h4>

          <p class="random" lang="en">Mon / Wed / Fri:  9am-1pm</p>
          <p class="random" lang="es">Lu / Mi / Vi:  9am-1pm</p>

          <p class="random" lang="en">Tues / Thurs:  10am-7pm</p>
          <p class="random" lang="es">Ma / Ju:  10am-7pm</p>

          <p class="random" lang="en">Sat:  8am-1pm; by Appt. Only</p>
          <p class="random" lang="es">Sa:  8am-1pm; Con Cita Solamente</p>

          
        </div>
      </div>
      <br>

      <div class="map-responsive">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.823904061537!2d-117.83177374889219!3d33.86842888056143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd14c9517eba9%3A0x3f45f1b7ba7c90e1!2sAtwood+Dentistry!5e0!3m2!1sen!2sus!4v1502392396836" allowfullscreen>  
        </iframe>
      </div>

    </div> 

    <!-- FOOTER -->
    <div id="footer" class="grey lighten-4">

      <div id="form_last" class="ending">
          <form method="POST" action="https://formspree.io/atwoodfrontoffice@gmail.com">
            <div class="input-field">
              <input type="text" id="name" name="name">
              <label class="active teal-text text-lighten-2" for="name" lang="en">Name</label>
              <label class="active teal-text text-lighten-2" for="name" lang="es">Nombre</label>
            </div>
            <div class="input-field">
              <input type="email" id="email" class="validate" name="_replyto">
              <label class="active teal-text text-lighten-2" for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" id="telephone" name="telephone">
              <label class="active teal-text text-lighten-2" for="telephone" lang="en">Telephone</label>
              <label class="active teal-text text-lighten-2" for="telephone" lang="es">Teléfono</label>
            </div>
            <div class="input-field">
              <textarea id="textarea" class="materialize-textarea" name="comments"></textarea>
              <label class="active teal-text text-lighten-2" for="textarea" lang="en">Comments</label>
              <label class="active teal-text text-lighten-2" for="textarea" lang="es">Comentarios</label>
            </div>
            <input type="text" name="_gotcha" style="display:none" />
            <button class="btn cyan waves-effect waves-light right">Send</button>
          </form>
      </div>

      <div id="icon_last" class="ending">
         <a href="https://www.facebook.com/joselaradds/" target="_blank" > <img class="icons" src="static/images/social-facebook.png" alt=""></a>

          <a href="https://www.instagram.com/atwoodfamilydentist/" target="_blank" > <img class="icons" src="static/images/social-instagram.png" alt=""></a>
        
          <p>Atwood Family Dentistry. Proudly Created by: <a href="http://www.joedlara.com">Joed B. Lara</a></p>
      </div>

      <a href="/#home" class="back_home blue-text text-accent-2"><h2>&#8963;</h2></a>

    </div>









  

      <!--Import jQuery before materialize.js-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

      <script>
      $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,

        }
      );  

      </script>

      <script type="text/javascript">
        $(document).ready(function(){
          // Init Carousel
          $('.carousel').carousel();

          $('.parallax').parallax({fullWidth: true, fullHeight: true});

          //Init slider
          $('.slider').slider();

          // To scroll to a section using navbar
          $('.scrollspy').scrollSpy();
      
        });

     
          $('.carousel.carousel-slider').carousel({fullWidth: true});
          autoplay()   
          function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4000);
          }
      </script>


      <!-- SCROLL ANIMATION -->
      <script type="text/javascript">
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
            && 
            location.hostname == this.hostname
          ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000, function() {
               
              });
            }
          }
        });

      </script>

      <script type="text/javascript">
        $('.switch-lang').click(function(){
          var text = ($(this).text() === 'Español') ? 'English' : 'Español';
          $(this).text(text);
        });
     </script>


      <script type="text/javascript">
        $('[lang="es"]').hide();

        $('.switch-lang').click(function() {
          $('[lang="es"]').toggle();
          $('[lang="en"]').toggle();
        });
      </script>

    </body>
  </html>









